language: node_js
node_js:
  - 12
script:
  - npm run gh-pages-build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in the settings page of your repository, as a secure variable
  keep_history: false
  local_dir: dist/sortify
  on:
    branch: master
