<h2>Save playlist</h2>

<p>{{ description }}</p>

<mat-radio-group *ngIf="data.ownsPlaylist" [(ngModel)]="writeMode">
  <mat-radio-button *ngFor="let writeMode of writeModes" [value]="writeMode">
    {{ writeModeDescription(writeMode) }}
  </mat-radio-button>
</mat-radio-group>

<mat-form-field>
  <input matInput placeholder="Playlist name" [formControl]="playlistNameFC" />
  <mat-error *ngIf="playlistNameFC.invalid">Required</mat-error>
</mat-form-field>

<mat-card *ngIf="error" class="error">
  <p>Failed to save playlist</p>
</mat-card>

<div class="buttons">
  <button mat-button (click)="cancel()" [disabled]="_stateService.loading$ | async">Cancel</button>
  <button
    mat-button
    color="accent"
    (click)="createNew ? createNewPlaylist() : overwritePlaylist()"
    [disabled]="(_stateService.loading$ | async) || playlistNameFC.invalid"
  >
    {{ error ? 'Try again' : 'Save' }}
  </button>
</div>
