:host {
  text-align: center;
  display: block;

  .animation {
    margin: 2em 25vw;
    height: calc(1.5em * 10);
  }

  section {
    margin: 1em;
  }

  iframe {
    width: 50vmax;
    height: calc(50vmax * 9 / 16);
  }
}
