<h1>Playlisorter</h1>
<p>
  Sort Spotify playlists based on various features such as artist, release date, popularity, tempo, danceability, etc.
</p>
<section>
  <a mat-raised-button color="accent" [href]="loginUrl">Login with Spotify</a>
</section>

<section>
  <button mat-button color="accent" (click)="handleClick()">Watch a YouTube demo</button>
</section>

<section>
  <a mat-button color="accent" [href]="githubUrl">View GitHub repo</a>
</section>
<sort-reordering-animation class="animation"></sort-reordering-animation>

<h2 id="yt">Demo</h2>
<div class="iframe-container">
  <iframe
    src="https://www.youtube-nocookie.com/embed/HO_rdACBNng"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
