<mat-toolbar class="mat-elevation-z2">
  <a mat-button routerLink="/" class="logo">Sortify</a>

  <span class="flex-1"></span>
  <ng-container *ngIf="_stateService.userProfile$ | async as userProfile">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="user-details flex" (click)="$event.stopPropagation()">
        <img
          [src]="(userProfile.images && userProfile.images[userProfile.images.length - 1].url) || fallbackUserImage"
        />
        <div>
          <div class="mat-caption">Logged in as</div>
          <div>
            {{ userProfile.display_name }}
          </div>
        </div>
      </div>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
  <sort-footer></sort-footer>
</div>

<div *ngIf="_stateService.loading$ | async" class="loading-overlay">
  <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</div>
