$base-width: 360px;
$interval: 75px;

:host {
  display: block;

  .mat-cell,
  .mat-header-cell {
    padding: 0.5em;
  }

  .table-wrapper {
    position: fixed;
    top: 7em;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
  }

  table {
    word-break: normal;
  }
  .mat-toolbar {
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    z-index: 100;
    img {
      width: 2em;
      margin: 0 1em 0 0.5em;
      flex-shrink: 0;
    }
  }

  .sorted-text {
    color: #00c853;
  }

  .playlist-title {
    font-size: small;
    margin-right: 1em;
  }

  .inline-buttons {
    margin-left: 1em;

    @media (max-width: $base-width) {
      .inline-button:nth-child(n + 1) {
        display: none;
      }
    }
    @media (max-width: $base-width + $interval) {
      .inline-button:nth-child(n + 2) {
        display: none;
      }
    }
    @media (max-width: $base-width + (2* $interval)) {
      .inline-button:nth-child(n + 3) {
        display: none;
      }
    }
    @media (max-width: $base-width + (3* $interval)) {
      .inline-button:nth-child(n + 4) {
        display: none;
      }
    }
    @media (max-width: $base-width + (4* $interval)) {
      .inline-button:nth-child(n + 5) {
        display: none;
      }
    }
    @media (max-width: $base-width + (5* $interval)) {
      .inline-button:nth-child(n + 6) {
        display: none;
      }
    }
    @media (max-width: $base-width + (6* $interval)) {
      .inline-button:nth-child(n + 7) {
        display: none;
      }
    }
    @media (max-width: $base-width + (7* $interval)) {
      .inline-button:nth-child(n + 8) {
        display: none;
      }
    }
  }

  @media (min-width: ($base-width + (7* $interval)) + 1) {
    .menu-buttons {
      display: none;
    }
  }

  ::ng-deep {
    .mat-sort-header-sorted .mat-sort-header-arrow {
      opacity: 1 !important;
    }
    .mat-table-sticky {
      background-color: #424242;
    }
  }
}

::ng-deep {
  .menu-buttons-menu .mat-menu-content {
    @media (min-width: $base-width + 1) {
      .mat-menu-item:nth-child(-n + 1) {
        display: none;
      }
    }
    @media (min-width: ($base-width + ($interval)) + 1) {
      .mat-menu-item:nth-child(-n + 2) {
        display: none;
      }
    }
    @media (min-width: ($base-width + (2 * $interval)) + 1) {
      .mat-menu-item:nth-child(-n + 3) {
        display: none;
      }
    }
    @media (min-width: ($base-width + (3 * $interval)) + 1) {
      .mat-menu-item:nth-child(-n + 4) {
        display: none;
      }
    }

    @media (min-width: ($base-width + (4 * $interval)) + 1) {
      .mat-menu-item:nth-child(-n + 5) {
        display: none;
      }
    }
    @media (min-width: ($base-width + (5 * $interval)) + 1) {
      .mat-menu-item:nth-child(-n + 6) {
        display: none;
      }
    }

    @media (min-width: ($base-width + (6 * $interval)) + 1) {
      .mat-menu-item:nth-child(-n + 7) {
        display: none;
      }
    }
    @media (min-width: ($base-width + (7 * $interval)) + 1) {
      .mat-menu-item:nth-child(-n + 8) {
        display: none;
      }
    }
  }
  @media (min-width: ($base-width + (7 * $interval)) + 1) {
    .menu-buttons-menu {
      display: none;
    }
  }
}
