mat-form-field {
  font-size: initial;
}

:host {
  display: block;
}

.table-wrapper {
  overflow: auto;
}

.mat-cell,
.mat-header-cell {
  padding: 8px;
}

header {
  display: flex;

  img {
    width: 10em;
    margin-right: 2em;
  }
}

::ng-deep .mat-sort-header-sorted .mat-sort-header-arrow {
  opacity: 1 !important;
}

td {
  padding: 0.25em 0.25em 0.25em 0;
}
