mat-form-field {
  font-size: initial;
}

:host {
  display: block;
}

.mat-cell,
.mat-header-cell {
  padding: 8px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

  img {
    object-fit: contain;
    padding-right: 1em;
    width: 19em;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;

    img {
      padding-right: 0;
      width: 100%;
      max-width: calc(100vh / 2);
    }
  }
}

::ng-deep .mat-sort-header-sorted .mat-sort-header-arrow {
  opacity: 1 !important;
}

td {
  padding: 0.25em 0.25em 0.25em 0;
}

.mat-table-sticky {
  background: white;
  color: black;
  border-bottom-color: black;
}
