<h1>Playlists</h1>
<div class="flex flex-wrap">
  <mat-form-field class="select">
    <mat-label>Owned by</mat-label>
    <mat-select [(value)]="ownerFilter">
      <mat-option [value]="EOwner.all">Anybody</mat-option>
      <mat-option [value]="EOwner.owner">Self</mat-option>
      <mat-option [value]="EOwner.non_owner">Others</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="flex-1">
    <input matInput type="text" placeholder="Filter" [(ngModel)]="searchFilter" />
    <button
      mat-icon-button
      *ngIf="searchFilter"
      matSuffix
      aria-label="Clear"
      (click)="searchFilter = ''"
      matTooltip="Clear"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<mat-action-list>
  <a mat-list-item [routerLink]="['playlist', playlist.id]" *ngFor="let playlist of filteredPlaylists">
    <img matListAvatar [src]="getAlbumCover(playlist)" />
    <h3 matLine>{{ playlist.name }}</h3>
  </a>
</mat-action-list>

<p *ngIf="(searchFilter || ownerFilter !== EOwner.all) && filteredPlaylists.length === 0">
  <mat-icon>sentiment_very_dissatisfied</mat-icon>
  No playlists match the filters.
</p>
