::ng-deep {
  .mat-card-header-text {
    max-width: 100%;
  }
}

mat-card {
  height: 100%;
}

p {
  mat-icon {
    vertical-align: text-bottom;
  }
}

.select {
  width: 7em;
  margin-right: 2em;
}
