<h1>Playlists</h1>
<mat-form-field>
  <input matInput type="text" placeholder="Filter" [(ngModel)]="playlistFilter" />
  <button mat-button *ngIf="playlistFilter" matSuffix mat-icon-button aria-label="Clear" (click)="playlistFilter = ''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-action-list>
  <a mat-list-item [routerLink]="['playlist', playlist.id]" *ngFor="let playlist of filteredPlaylists">
    <img matListAvatar [src]="getImage(playlist)" />
    <h3 matLine>{{ playlist.name }}</h3>
  </a>
</mat-action-list>
