/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import '~@angular/material/theming';

@include mat-core();

$global-font: 'Nunito', sans-serif;
$custom-primary: mat-palette($mat-grey, 50);
$custom-accent: mat-palette($mat-green, A700);
$custom-theme: mat-dark-theme($custom-primary, $custom-accent);

$background-color: #212121;
$font-color: white;

@include angular-material-theme($custom-theme);

$custom-typography: mat-typography-config(
  $font-family: $global-font,
);
@include mat-core($custom-typography);

html,
body {
  font-family: $global-font;
  color: $font-color;
  background-color: $background-color;
  word-break: break-all;
  word-break: break-word;
  font-size: 16px;
}

a {
  color: #00c853;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.mat-card {
  height: unset !important;
}

.mat-card,
.mat-table,
mat-dialog-container {
  background-color: $background-color !important;
}

.mat-list-avatar {
  border-radius: unset !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 56px !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
